@model IEnumerable<aspnet_uppgift_1.Models.SchoolClassViewModel>

@{
    ViewData["Title"] = "My classes";
}

<h1>My classes</h1>

@if (Model.Any())
{
    @foreach (var item in Model)
    {
        <div class="row row-cols-4">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <a asp-action="ClassDetails" asp-route-id="@item.Id" class="btn btn-primary">Details</a>
                    </div>
                </div>
                <a asp-action="ClassDetails" asp-route-id="@item.Id">
                </a>
            </div>
        </div>
    }
}
else
{
    <p>You are not registered in any classes yet.</p>
}
