
@if (User.IsInRole("Admin"))
{
    <nav class="navbar navbar-expand navbar-toggleable-sm navbar-light bg-white p-0">
        <div class="container justify-content-end">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#admin-nav" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div id="admin-nav" class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
                <ul class="navbar-nav flex-grow-1 justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Users" asp-action="Index">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="SchoolClasses" asp-action="Index">Classes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="SchoolClasses" asp-action="Index">Courses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Admin" asp-action="Settings">Settings</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
}
